  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/images/1.jpg">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/2.jpg">
      </div>
      <div class="swiper-slide">
        <img src="assets/images/3.jpg">
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>